doesn't understand escaped parens in connect string

I work on a project that requires parseTime=true. An engineer added a url.Parse and re-encode (with the String method on url.URL) in order to make sure it's present. However, String will escape the parentheses in, say, "tcp(localhost:3306)" to "tcp%28localhost:3306%29". 

This escaping is correct, but the mysql library doesn't understand the connect string and rejects it.

Example:

    sql.Open("mysql", "boulder@tcp%28localhost:3306%29/boulder_test?parseTime=true")

returns

     Default addr for network 'tcp%28localhost:3306%29'

as the error message.

That's because `url.Parse` fails to parse the DSN in the way you intend: http://play.golang.org/p/hBMapHmaYA

`url.Parse` assumes that `boulder@tcp(localhost:3306)/boulder_test` is a path. You can fix it by adding a scheme in front of the DSN (see the Go Playground link) and stripping it away again before passing it to `sql.Open(...)`.

But I would honestly recommend you against parsing and reformatting it. I would just use `strings.Contains` and avoid all sorts of problems. 



Of course! Thank you.

Uh, unfortunately, this fails on 1.5.0-beta3.

    package main
    
    import "net/url"
    import "log"
    func main() {
    	u1, err := url.Parse("mysql://boulder@tcp(localhost:3306)/boulder_test?parseTime=true")
    	if err != nil {
    		log.Fatalf("Nope: %s", err)
    	}
    	log.Printf("Okay: %s\n", u1)
    }

outputs

    2015/08/04 17:13:26 Nope: parse mysql://boulder@tcp(localhost:3306)/boulder_test?parseTime=true: invalid port ":3306)" after host 

I made golang/go#12023 but I'm not absoutely certain which project is the one that will have to change.

The error is not wrong, since the host part is not valid according to [RFC 1738](https://www.ietf.org/rfc/rfc1738.txt):

> host
        The fully qualified domain name of a network host, or its IP
        address as a set of four decimal digit groups separated by
        ".". Fully qualified domain names take the form as described
        in Section 3.5 of RFC 1034 [13] and Section 2.1 of RFC 1123
        [5]: a sequence of domain labels separated by ".", each domain
        label starting and ending with an alphanumerical character and
        possibly also containing "-" characters. The rightmost domain
        label will never start with a digit, though, which
        syntactically distinguishes all domain names from the IP
        addresses.

So if it's not wrong, then we need to figure something out, no? Being able to guarantee certain features are being used is pretty important to the Let's Encrypt project.

Could we use a scheme or some other mechanism to force TCP?

What exactly are you trying to do?
Do you have a user-provided DSN you are trying to validate?

You are probably referring to this code: https://github.com/letsencrypt/boulder/blob/df179a1ddeb1ff1f4d1911bbc94e108ccba784ac/sa/database.go#L37

The usual approach is to ask the user for the user, password, database name and host and generate the DSN from that provided information.

Yes, but that's not the world I get to live in. There are problems where folks want multiple databases, etc., or are just inheriting old code they can't change right now and the db string is lowest common denominator.

Parsing the DSN with url.Parse is definitely not a good idea, though. There is for example no requirement to escape the password, which has the potential to lead to unexpected results with url.Parse.
I'll try to make a PR with a fail-save approach for this driver tomorrow.

Plus, the db strings is How People Do Stuff as in, for instance, heroku. When you're trying to do the right thing, sometimes stuff sucks.

This conversation has resulted in https://github.com/golang/go/commit/fc22331ccd015cfdbae73abe72cb6f3e8e2415b9 which fixes the parentheses error in Go 1.5.